<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Add bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add bootstrap js -->


</head>
<body>
    <h1>Notas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="nota : ${notas}">
                <td th:text="${nota.getNombre}"></td>
                <td th:text="${nota.getTitulo}"></td>
                <td th:text="${nota.getContenido}"></td>
            </tr>
        </tbody>
    </table>
    <!-- Add bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>